{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<header class="text-center mb-8 max-w-3xl mx-auto px-4">
    <h1 class="text-4xl font-bold mb-4">Welcome to My Portfolio</h1>
    <p class="text-lg mb-6">Hi, I'm Mathias Godoy, a junior backend developer eager to start my career. I specialize in Python and Django and am passionate about creating efficient and scalable systems.</p>
    <!-- <a href="{% url 'projects' %}" class="bg-blue-600 text-white py-2 px-4 rounded hover:bg-blue-700 transition">View My Projects</a> -->
</header>

<section id="about" class="container mx-auto mb-10 max-w-3xl px-4">
    <h2 class="text-3xl font-semibold text-center mb-6">About Me</h2>
    <div class="bg-gray-800 text-white p-6 rounded-lg shadow-lg">
        <p>
            I recently completed my studies in backend development and am excited to begin my professional journey. My focus has been on Python and Django, and I've been working on personal projects to build practical skills. I'm enthusiastic about learning and ready to contribute to a team where I can grow and apply my knowledge.
        </p>
    </div>
</section>

<section id="skills" class="container mx-auto mb-10 max-w-5xl px-4">
    <h2 class="text-3xl font-semibold text-center mb-6">My Skills</h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
        <!-- Skill 1 -->
        <div class="bg-gray-800 text-white p-6 rounded-lg shadow-lg transition transform hover:scale-105">
            <h4 class="text-xl font-bold mb-2">Python</h4>
            <p>Knowledgeable in Python programming, with hands-on experience in developing backend applications.</p>
        </div>
        <!-- Skill 2 -->
        <div class="bg-gray-800 text-white p-6 rounded-lg shadow-lg transition transform hover:scale-105">
            <h4 class="text-xl font-bold mb-2">Django</h4>
            <p>Familiar with Django for building web applications, including working with views, models, and templates.</p>
        </div>
        <!-- Skill 3 -->
        <div class="bg-gray-800 text-white p-6 rounded-lg shadow-lg transition transform hover:scale-105">
            <h4 class="text-xl font-bold mb-2">PostgreSQL</h4>
            <p>Basic experience with PostgreSQL for database management, including writing queries and designing schemas.</p>
        </div>
    </div>
</section>

{% endblock %}
