{% extends 'base.html' %}

{% block title %}Projects{% endblock %}

{% block content %}
    <header class="text-center mb-8">
        <h1 class="text-4xl font-bold mb-4">My Projects</h1>
        <p class="text-lg mb-6">Explore some of the projects I've worked on. Each project demonstrates my skills and experience in backend development.</p>
    </header>

    <section class="container mx-auto">
        <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
            <!-- Project 1 -->
            <div class="bg-gray-800 text-white p-6 rounded-lg shadow-lg">
                <h5 class="text-xl font-semibold mb-3">Task Creator</h5>
                <p class="mb-4">This project is a task manager app with full CRUD functionality. Users can log in to securely manage their tasks, with access restricted to their own tasks. The app features an intuitive interface for creating, viewing, updating, and deleting tasks. Authentication ensures user privacy and a personalized task management experience.</p>
                <a href="https://github.com/mgodoydev/django-crud.git" class="border border-white text-white py-2 px-4 rounded hover:bg-white hover:text-gray-800 transition" target="_blank">View on GitHub</a>
            </div>
            <!-- Project 2 -->
            <div class="bg-gray-800 text-white p-6 rounded-lg shadow-lg">
                <h5 class="text-xl font-semibold mb-3">Weather Consultor</h5>
                <p class="mb-4">This project is a weather consulting app providing real-time updates for various countries via an external API. Users can enter a country or city to get current weather conditions, including temperature, humidity, and wind speed. The app offers a user-friendly experience with clear information. It's ideal for travelers, weather enthusiasts, or anyone needing up-to-date global weather data, ensured by accurate and timely API information.</p>
                <a href="https://github.com/mgodoydev/weather-django.git" class="border border-white text-white py-2 px-4 rounded hover:bg-white hover:text-gray-800 transition" target="_blank">View on GitHub</a>
            </div>
            <!-- Project 3 -->
            <div class="bg-gray-800 text-white p-6 rounded-lg shadow-lg">
                <h5 class="text-xl font-semibold mb-3">News Portal</h5>
                <p class="mb-4">This project is a news portal that displays articles from various fields like technology, sports, and politics. It aggregates news from different sources, providing users with updated and diverse content. Access to the news requires users to log in, ensuring a personalized experience for each visitor.</p>
                <a href="https://github.com/mgodoydev/news.git" class="border border-white text-white py-2 px-4 rounded hover:bg-white hover:text-gray-800 transition" target="_blank">View on GitHub</a>
            </div>
            <!-- Agrega más proyectos según sea necesario -->
        </div>
    </section>
{% endblock %}
